
#!/usr/bin/python

import etcd
import sys
from urlparse import urlparse

etcd_host = "{{ .Env.ETCD_HOST }}"
if not etcd_host:
    print "ETCD_HOST not set"
    sys.exit(1)

port = 4001
host = etcd_host

if ":" in etcd_host:
    host, port = etcd_host.split(":")

client = etcd.Client(host=host, port=int(port))

try:
    backends = client.read("/backends")
except KeyError:
    client.write("/backends", None, dir=True)

{{ $local := . }}
{{range $key, $value := .}}

# {{ $value.Name }}
{{ $tag := "latest" }}
{{ if $value.Image.Tag }}
{{ $tag := $value.Image.Tag }}
{{end}}
client.write("/backends/{{ $value.Image.Registry }}/{{ $value.Image.Repository }}/{{ $tag }}/{{ $local.Env.HOST_IP }}/{{ printf "%.*s" 12 $value.ID }}", "{{ $value.Addresses }}", ttl=15)


{{end}}
